{
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "printWidth": 120,
  "tabWidth": 2,
  "maxLineLength": 80,
  "editor.formatOnSave": true,
  "prettier.singleQuote": true,
  "prettier.printWidth": 70,
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}